@page
@model AquaTrack.Pages.Leituras.DeleteModel

@{
    ViewData["Title"] = "Deletar";
}

<h1>Deletar Registro</h1>

<h3>Tem certeza que deseja apagar o registro?</h3>
<h4>Uma vez feito, não poderá voltar atrás.</h4>
<div>
    <h4>Leitura</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Leitura.Apartamento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Leitura.Apartamento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Leitura.Bloco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Leitura.Bloco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Leitura.LeituraAnterior)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Leitura.LeituraAnterior)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Leitura.LeituraAtual)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Leitura.LeituraAtual)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Leitura.Consumo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Leitura.Consumo)
        </dd>
        <!--<dt class="col-sm-2">
            COMENTARIO@Html.DisplayNameFor(model => model.Leitura.DataLeitura)
        </dt>
        <dd class="col-sm-10"> Depois remover o COMENTARIO
            COMENTARIO@Html.DisplayFor(model => model.Leitura.DataLeitura)
        </dd>-->
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Leitura.Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-page="./Index">Voltar ao Menu</a>
    </form>
</div>
