@page
@model AquaTrack.Pages.Leituras.IndexModel

@{
    ViewData["Title"] = "AquaTrack";
}

<h1>Lista de Leituras</h1>

<p>
    <a asp-page="Create" button type="button" class="btn btn-primary">Cadastrar Nova Leitura</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Leitura[0].Apartamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Leitura[0].Bloco)
            </th>
            <th>
                Leitura Anterior
            </th>
            <th>
                Leitura Atual
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Leitura[0].Consumo)
            </th>
            <th>
                Data de Leitura
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Leitura) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Apartamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bloco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeituraAnterior)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeituraAtual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Consumo)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.DataLeitura)
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Opções
                        </button >
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-page="./Edit" asp-route-id="@item.Id" style="text-align:center">Editar</a></li>
                            <li><a class="dropdown-item" asp-page="./Details" asp-route-id="@item.Id" style="text-align:center">Detalhes</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" asp-page="./Delete" asp-route-id="@item.Id" style="text-align:center" >Deletar</a></li>
                        </ul>
                    </div>
            </td>
        </tr>
}
    </tbody>
</table>
